/* General Classes */

.elegant {
    font-family: 'Adamina', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.general {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 1px #d34609 solid;
    text-align: center;
}

/* Nav-bar */

.nav {
    background-color: white;
}

.navbar img {
    height: 45px;
    width: 70px;
    margin-right: 5%;
}

.navbar a { 
    text-transform: uppercase;
    font-weight: 400;
}

.navbar .nav-item.active {
    font-size: 10px;
    font-weight: 600;
    border-left: #d34609 3px solid !important;
}

.navbar .nav-link {
    font-size: 12px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #d34609 !important;        
    letter-spacing: 2px;
    background-size: 100%;
}

.hov-anim::after {
    content: '';
    display: block;
    width: 0;
    height:1px;
    background: #d34609;
    transition: width .3s;
}

.hov-anim:hover::after {
    width: 100%;
    transition: width .3s;
}

/* first page */

.first-page {
    background-color: #E2E1DC;
    background-image: url("../img/bellas-artes.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
}

.header-overlay {
    background-color: rgba(216, 216, 216, 0.8);
    background-size: cover;
    height: 600px;
}

.first-page .container {
    width: 500px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.title-1:hover {
    color: white;
}

.title-2:hover {
    color: purple
}

.title-3:hover {
    color: blue;
}

.title-4:hover {
    color: green;
}

h1 {
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 3px;
}

/* About me  */

.about-me .container {
    padding-top: 50px;
    text-align: center;
}

.about-me h2 {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

.about-me p {
    text-align: justify;
    font-size: 15px;
    font-weight: 100;
}

.about-me .row {
    margin: 40px 0;

}

.about-me i {
    border: solid 3px #d34609;
    margin: 25px;
    padding: 25px 15px;
    border-radius: 8px;
    color: #d34609
}

/* My Background */

#my-background {
    min-height: 500px;
    background-color: rgb(252, 250, 243);
}

#my-background h2 {
    padding-top: 80px;
    text-transform: uppercase;
    text-align: center;
}

#my-background hr {
    margin-top: 20px;
}

#my-background p {
    padding-top: 40px;
    width: 70%;
    text-align: justify;
    margin: 0 auto;
}

#my-background .image-block {
    min-height: 500px;
    background-image: url('/img/fabric.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    opacity: .4;
}

/* My Work */ 

#my-work {
    min-height: 800px;
    /* background-color: rgb(241, 241, 241); */
    /* background-color: rgb(248, 245, 245); */
}

#my-work .title {
    padding-top: 100px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 200;
}

#my-work .container-fluid {
    margin-top: 60px;
}

#my-work .hover-eff:hover .img-overlay {
    opacity: 1;
    transition: .2s;
}

#my-work img {
    width: 100%;
    height: 250px;
    text-align: center;
}

.img-overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

/* Footer */

footer {
    background-color: black;
    min-height: 300px;
}

footer h2 {
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    padding-top: 40px;
    margin-bottom: 20px;
}

.hr-footer {
    width: 100px;
    padding: 0;
    border: 1px white solid;
}

.footer-block {
    margin-top: 80px;
    text-align: center;
    width: 60%;
}

footer p {
    color: white;
}

footer a {
    color: white;
}

footer .go-to-top {
    color: white;
    text-align: right;
}

footer i {
    padding-right: 40px;
}






